*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

main > section {
  padding: 1rem;
}

input,
textarea,
output {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0 .5rem;
  border: none;
  font-size: inherit;
  font-family: monospace;
}

textarea,
input {
  background-color: hsl(0,0%,95%);
}

input {
  line-height: 2.5rem;
}

textarea,
output {
  display: flex;
  flex-direction: column-reverse;
  padding: .4rem;
}

output {
  font: inherit;
  border-top: 1px solid hsl(0,0%,50%);
}

output span {
  font-family: monospace;
}

output strong {
  color: hsl(1,60%,70%);
}

output p {
  width: 100%;
  float: left;
}

textarea {
  min-height: 20rem;
}

@media (min-width: 800px) {
  main > section {
    float: left;
    width: 50%;
  }
}
